[submodule "lib/FlexCAN_T4"]
	path = lib/FlexCAN_T4
	url = https://github.com/tonton81/FlexCAN_T4
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl
	branch = release/v8.3
[submodule "lib/Formula-Main-DBC"]
	path = lib/Formula-Main-DBC
	url = https://github.com/RITRacingSoftware/Formula-Main-DBC.git
